{% extends "base.html.twig" %}
{% block title %}Tous les Maine Coons
{% endblock %}
{% block content %}
	<div class="content_size">
		<div id="top"></div>
		<div id="coat_search">
			<a href="index.php?action=search_by_coat">Trouver un Maine Coon par sa couleur</a>
		</div>
		{% for allCat in allCats %}
			<div class="contain_cat">
				<div class="cat_presentation">
					<div class="cat_display">
						<div class="cat_picture"><img src="./uploads/{{ allCat.image | raw }} " alt="{{ allCat.name | raw }}-maine-coon-{{ allCat.coat_color | raw }}" >
						</div>
						<div class="cat_info">
							<p>
								<span class="info_title">Prénom:</span>
								{{ allCat.name | raw }}</p>
							<p>
								<span class="info_title">Sexe:</span>
								{{ allCat.gender | raw }}</p>
							<p>
								<span class="info_title">Robe:</span>
								{{ allCat.coat_color | raw }}</p>
							<p>
								<span class="info_title">Date de naissance:</span>
								{{ allCat.dob | raw }}</p>
							<p>
								<span class="info_title">Description:</span>
								{{ allCat.description | raw }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
