{% extends "base.html.twig" %}

{% block title %}Le blog{% endblock %}

{% block content %}
<div id="blog_presentation">

	<div id="blog_posts">
        <div id='top'></div>{% for getLastArticle in getLastArticles %}
		<a href="index.php?action=postandcomments&amp;id={{ getLastArticle.id }}">
		
		<div id="header_article_blog">
		  	<img src="./uploads/{{ getLastArticle.image }}" id="main_image" />
		        <div id="main_title"> 
                    {{ getLastArticle.title | raw }}
                </div>
			{% endfor %}		
		</div>
		</a>
		
		<div id="article_block_one">
			
   
				{% for subOne in subOnes %}
				<a href="index.php?action=my_first_maine_coon">
				 	<div id="article_first_category">
						<div class="category_title">
                        	Mon premier Maine Coon
						</div>  
							<img src="./uploads/{{ subOne.image }}" id="first_sub_article"  />
					</div>
				</a>
				{% endfor %}	
             
			
			{% for subTwo in subTwos %}
			<a href="index.php?action=health">
			<div id="article_second_category">
			<div class="category_title">Soins</div>
			<img src="./uploads/{{ subTwo.image }}" id="first_sub_article"/>
			</div>
			</a>
			{% endfor %}
		</div>
		<div id="article_block_two">
			{% for subThree in subThrees %}
			<a href="index.php?action=daily">
			<div id="article_third_category">
			<div class="category_title">Quotidien</div>
			<img src="./uploads/{{ subThree.image }}" id="first_sub_article"/>
			</div>
			</a>
			{% endfor %}
			{% for subFour in subFours %}
			<a href="index.php?action=education">
			<div id="article_fourth_category">
			<div class="category_title">Education</div>
			<img src="./uploads/{{ subFour.image }}" id="first_sub_article"/>			
			</div>
			</a>
			{% endfor %}
		</div>
	</div>	
    
	<div id="listing">

		<div id="last_publications"><div class="header_title">Articles récents</div>
			<div class="title_listing">
				{% for byTitle in byTitles %}
                    <div> -
                        <a href="index.php?action=postandcomments&amp;id={{ byTitle.id | raw }}">{{ byTitle.title | raw }}</a>
                    </div>
				{% endfor %}
			</div>

		</div>
		<div id="popular_publications"> <div class="header_title">Articles populaires</div>
			<div class="title_listing">
				{% for pop in popularity %}
                    <div> -
                        <a href="index.php?action=postandcomments&amp;id={{ pop.id | raw }}">{{ pop.title | raw }}</a>
                    </div>
            	{% endfor %}
			</div>
		</div>
	</div>
	
</div>

{% endblock %}