{% extends "base.html.twig" %}
{% block title %}Jeunes Maine Coons
{% endblock %}
{% block content %}
	<div class="content_size">
		<div id="top"></div>
		<div id="coat_search">
			<a href="index.php?action=search_by_coat">Trouver un Maine Coon par sa couleur</a>
		</div>
		{% for youngster in youngsters %}
			<div class="contain_cat">
				<div class="cat_presentation">
					<div class="cat_display">
						<div class="cat_picture"><img src="./uploads/{{ youngster.image | raw }}" alt="{{ youngster.name | raw }}-maine-coon-{{ youngster.gender | raw }}--{{ youngster.coat_color | raw }}">
						</div>
						<div class="cat_info">
							<p>
								<span class="info_title">Prénom:</span>
								{{ youngster.name | raw }}</p>
							<p>
								<span class="info_title">Sexe:</span>
								{{ youngster.gender | raw }}</p>
							<p>
								<span class="info_title">Robe:</span>
								{{ youngster.coat_color | raw }}</p>
							<p>
								<span class="info_title">Date de naissance:</span>
								{{ youngster.dob | raw }}</p>
							<p>
								<span class="info_title">Description:</span>
								{{ youngster.description | raw }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
