{% extends "base.html.twig" %}

{% block title %}Chattons Maine Coons{% endblock %}

{% block content %}
<div class="content_size">
 	<div id="top">
    </div>
    <div id="coat_search"><a href="index.php?action=search_by_coat">Trouver un Maine Coon par sa couleur</a>
    </div>


{% for kitten in kittens %}


			<div id="contain_cat">
			<div id="cat_presentation">
		
			<div id="cat_display">
			<div id="cat_picture"><img src="./uploads/{{ kitten.image | raw }}">
            </div>
				
			<div id="cat_info">
				<p><span class="info_title">Prénom:</span>{{ kitten.name | raw }}</p>
				<p><span class="info_title">Sexe:</span>{{ kitten.gender | raw }}</p>
				<p><span class="info_title">Robe:</span>{{ kitten.coat_color | raw }}</p>
				<p><span class="info_title">Date de naissance:</span>{{ kitten.dob | raw }}</p>
				<p><span class="info_title">Description:</span>{{ kitten.description | raw }}</p>
			</div>	
		</div>
	</div>					
</div>
{% endfor %}
</div>
</div>
{% endblock %}
