{% extends "basebackend.html.twig" %}

{% block title %}Interface d'administration{% endblock %}

{% block content %}

    <div class="content_size">
        <div id="top"></div>
        <table border=1>
            {% for post in posts %}
                <div class="present">
                    <div class="text_back">{{ post.title }}</div>
                    <div class="text_back">{{ post.category }}</div>
                    <div class="text_back">{{ post.article | raw }}</div>
                    <div class="text_back">{{ post.author }}</div>
                     <div class="text_back"> <img src="./uploads/{{ post.image }}" class="mini_picture_of_cat" /></div>
                    <div class="together">
                        <div class="button_one_back">
                            <a href="index.php?action=deletePost&amp;id={{ post.id }}" id="confirmation">
                                <span class="fas fa-trash-alt"></span>
                                <span id="tooltip_three">Supprimer</span>
                            </a>
                        </div>
                        <div class="button_two_back">
                            <a href="index.php?action=edit&amp;id={{ post.id }}" id="control_four">
                                <span class="fas fa-edit"></span>
                                <span id="tooltip_four">Modifier</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="id_comment">

                <a href="index.php?action=moderate">Modérer les commentaires ({{ nbComments }})</a>
            </div>
            <form action="index.php?action=addPost" method="post" enctype="multipart/form-data">
                <div id="edit_block">

                    <input type="text" name="title" id="title" rows="1" cols="50" maxlength="250" placeholder="Titre">
                    <input type="text" name="category" id="category" rows="1" cols="50" maxlength="250"
                           placeholder="Category">
            <div class="contain_description">
				<div>
  	 				<label for="description">Photo du chat:</label>
  	 			</div>
  	 			<div>
					<p><input type="file" name="myfile"></p>
				</div>
			</div>
                    <textarea name="article" id="article" rows="10" cols="50" maxlength="250"
                              placeholder="Ecrivez vos articles ici.">
			
		</textarea>
                    <input type="text" name="author" id="author" rows="1" cols="50" maxlength="250"
                           placeholder="Auteur">
                </div>

                <p>
                    <input class="btn btn-primary" name="button_form" id="button_form" type="submit" value="Envoi">
                </p>
            </form>

    </div>
{% endblock %}