{% extends "basebackend.html.twig" %}

{% block title %}Visites veterinaires
{% endblock %}

{% block content %}

	<div class="content_size">
		<div id="top"></div>
		<h2>Liste de toutes les visites vétérinaires</h2>
		<div class="adding">Ajouter une nouvelle visite:
			<a href="index.php?action=add_veterinarian"><input class="adding_btn" type="button" value="Add"></a>
		</div>
		<table>
			<thead>
				<tr>
					<th>Date visite</th>
					<th>Nom du chat</th>
					<th>Genre</th>
					<th>Age</th>
					<th>Nom vétérinaire</th>
					<th>Intervention</th>
					<th>Diagnostic</th>
					<th>Treatment</th>
					<th>Coût en euros</th>
				</tr>
			</thead>
			{% for allVisit in allVisits %}
				<tr>
					<td>{{ allVisit.date_visit | date('d/m/Y') }}</td>
					<td>{{ allVisit.cat_name }}</td>
					<td>{{ allVisit.gender }}</td>
					<td>{{ allVisit.age_category }}</td>
					<td>{{ allVisit.vet_name }}</td>
					<td>{{ allVisit.intervention }}</td>
					<td>{{ allVisit.diagnostic }}</td>
					<td>{{ allVisit.treatment }}</td>
					<td>{{ allVisit.cost }}</td>

				{% endfor %}
			</tr>
		</table>
	</div>
</div>{% endblock %}
